
//- Навигация с сылками
mixin navi_link (className, items, activeItem)
	nav(class="#{className}")
		div(class="#{className}__container")
			ul(class="#{className}__list")
				each link, nav in items
					li(class="#{className}__item" + ( (ndx == activeItem) ? ' #{className}__item_active' : '' ))
						a(href="#{link}" class="#{className}__link")= nav

//- Пробный вариант
mixin navi_links (className, items, activeItem)
	nav(class="#{className}")
		div(class="#{className}__container")
			ul(class="#{className}__list")
				-var i=0
				each link, nav in items 
					-i++

					li(class="#{className}__item" + ( (i === activeItem) ? ' #{className}__item_active' : '' ))
						a(href="#{link}" class="#{className}__link")= nav
						-console.log('i')

//- Social icon 
mixin social (className, items)
	div(class="#{className}")
		ul(class="#{className}__list")
			each cont in items
				li(class="#{className}__item")
					a(href="#{cont[1]}" target="_blank" class="#{className}__link fa fa-#{cont[0]}")
						span.social-span= cont[2]

//- Article list
mixin articlelist (className, items, activeItem)
	div(class="#{className}")
		ul(class="#{className}__list")
			each list, numb in items
				li(class="#{className}__item" + ( (numb == activeItem) ? ' #{className}__item-active' : ''))
					a(href="#" class="#{className}__link")= list

//- Article item
mixin articles(idName, title, date, content)
	article(id="#{idName}" class="article__item")
		div(class="article__item-title")
			h3.title__h3=title
		div(class="article__item-date")
			p.date__text=date
		div(class="article__item-content")
			each cont, tag in content
				#{cont[0]}.article__text #{cont[1]}


//- Reviews
mixin review (src, txt, aut, prof)
	.reviews__item
		.reviews__item-photo
			img.review__photo(src=src, alt="author photo")
		.reviews__item-review
			p.review__comment=txt
			svg.svg__quote(preserveAspectRatio="xMaxYMax meet", viewBox="0 0 171.5 132.5")
				use.svg__icon(xlink:href= "assets/img/sprite.svg#quote")
		.reviews__item-author
			p.review-author= aut
				br 
				span.review-author__prof=prof

//- Btn-Menu on start page
mixin hamburg
	.head__menu
			a(href="#" class="fa fa-bars")

//- Tringle on start page
mixin tringle
	svg.svg__arrow_down(preserveAspectRatio="xMaxYMax meet", viewBox="0 0 171.5 132.5")
		use.svg__icon(xlink:href= "assets/img/sprite.svg#arrow_down")

//- Блок с контактами
mixin contact(className, items)
	ul(class="#{className}__list")
		each cont, tag in items
			li(class="#{className}__item")
				i(class="#{className}__icon fa fa-#{cont[2]}") 
				a(href="#{cont[1]}" class="#{className}__link")= cont[0]
			


//- DIAGRAMS

mixin diagram(className, skill)
	ul.right-side__diagrams
		each item, key in className
			li(class="diagram__title #{className}")
				h4(class="title__skill #{className}")= className[key]
				ul.diagram__list
					each item in skill
						li.diagram__item
							input.dial(type="text" value="90")
							.skill__name= skill[0]
